<% articles.each do |article| %>
  <div class="row">
    <div class="col s12 m3">
    </div>
    <div class="col s12 m6">
      <div class="card blue lighten-5">
        <div class="card-content black-text">
          <span class="card-title">
            <%= link_to article.title, blog_path(article) %>
          </span>
          <p><%= article.text.truncate(90) %></p>
        </div>
        <div>
          <%= article.user.name %>
          <%= article.created_at %>
        </div>
        <div class="card-action">
          <% if user_signed_in? && current_user.id == article.user_id %>
            <a>
              <%= link_to edit_blog_path(article), method: :get do %>
                <i class="tiny material-icons">edit</i>
              <% end %>
            </a>
            <a>
              <%= link_to blog_path(article), method: :delete do %>
                <i class="tiny material-icons">delete</i>
              <% end %>
            </a>
            <% if like = Like.find_by(user_id: current_user.id, article_id: article.id) %>
            <a>
              <%= link_to blog_like_path(article, like), method: :delete do %>
                <i class="tiny material-icons">favorite</i>
                <%= article.likes.count %>
              <% end %>
            </a>
            <% else %>
            <a>
              <%= link_to blog_likes_path(article), method: :post do %>
                <i class="tiny material-icons">favorite_border</i>
                <%= article.likes.count %>
              <% end %>
            </a>
            <% end %>

          <% elsif user_signed_in? %>
            <% if like = Like.find_by(user_id: current_user.id, article_id: article.id) %>
            <a>
              <%= link_to blog_like_path(article, like), method: :delete do %>
                <i class="tiny material-icons">favorite</i>
                <%= article.likes.count %>
              <% end %>
            </a>
            <% else %>
            <a>
              <%= link_to blog_likes_path(article), method: :post do %>
                <i class="tiny material-icons">favorite_border</i>
                <%= article.likes.count %>
              <% end %>
            </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
